@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    --white: white;
    --light-grey: #8d8d8d;
    --dark-grey: #404040;
    --extra-light-pink: #FFFDFD;
    --light-pink: #ffedece0;
    --dark-orange: #CA6046;
    --soft-orange-red: #DA7F6E;
    --soft-red: #D75B52;
    --purple: #742E64;

    --hover-orange: #FF974C;
    --hover-light-purple: #AA5183;
    --hover-dark-pink: #9C0058;
}

body{
    background-color: var(--extra-light-pink);
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6{
    margin-bottom: 1em;
    text-align: center;
    color: var(--dark-grey);
}

p, li, label{
    color: var(--light-grey);
}

#personal-info, #projects, #contact{
    scroll-margin-top: 6em;
}

/* _______________________ Header ___________________________________*/
.fa-bars{
    font-size: 26px;
    cursor: pointer;
}

.logo{
    font-family: 'Yellowtail', cursive;
    margin: 0;
    color: var(--dark-orange);
}

header{
    position: fixed;
    width: 100%;
    background-color: var(--light-pink);
    backdrop-filter: blur(10px);
    padding: 1em 5%;
    z-index: 10;
    color: var(--dark-orange);
}

header a{
    text-decoration: none;
    color: var(--dark-orange);
}

header a:hover{
    color: var(--hover-orange);
}

header .flex{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

header .hide{
    display: none;
}

nav{
    margin-top: 4em;
}

nav li {
    list-style: none;
    margin-bottom: 2em;
}

nav .icons{
    display: flex;
    justify-content: space-between;
    width: 3em;
    position: absolute;
    bottom: 0;
    font-size: 26px;
}

/* _______________________content____________________________ */

.content{
    width: 90%;
    margin: 0 auto;
    padding-top: 6em;
}

.personal-info{
    margin-bottom: 7em;
}

.introduction{
    color: var(--dark-orange);
    font-weight: 300;
    text-align: center;
    font-size: 46px;
    margin-bottom: 0.5em;
}

.introduction .name{
    font-weight: 800;
}

.job-position{
    width: max-content;
    margin: 0 auto;
    margin-bottom: 3em;
}

.job-position hr{
    margin: 0.5em auto;
    width: 2em;
    border: none;
    border-top: 2px solid var(--soft-red);
}

.job-position p{
    color: var(--soft-red);
    text-align: center;
}


/* _______________________image home page _________________*/
.img-coding{
    position: relative;
    top: 0;
    left: 0;
    width: 15em;
    height: 15em;
    margin: 0 auto;
    margin-bottom: 3em;
}

.coding {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
}

.skills{
    animation: rotation 80s infinite linear;
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
}


/* ___________________________ btns _________________________ */

.btns{
    width: 100%;
    max-width: 450px;
    display: flex;
    justify-content: space-between;
    margin-top: 3em;
    transition: 1.5s;
}

.primary-btn{
    text-decoration: none;
    color: var(--extra-light-pink);
    background-color: var(--purple);
    padding: 0.5em 1em;
    text-transform: uppercase;
    border-radius: 10px;
    min-width: 150px;
    text-align: center;
    border: 1px solid var(--purple);
    cursor: pointer;
    transition: 0.5s;
}

.secundary-btn{
    text-decoration: none;
    color: var(--purple);
    border: 1px solid var(--purple);
    padding: 0.5em 1em;
    text-transform: uppercase;
    border-radius: 10px;
    min-width: 150px;
    text-align: center;
    cursor: pointer;
    transition: 0.5s;
}

.secundary-btn:hover{
    background-color: var(--hover-light-purple);
    color: var(--extra-light-pink);
    border: 1px solid var(--hover-light-purple);
}

.primary-btn:hover{
    background-color: var(--hover-dark-pink);
    color: var(--extra-light-pink);
    border: 1px solid var(--hover-dark-pink);
}

/* ______________________________ projects_____________________________________ */

.projects-container, .contact-container{
    margin-bottom: 7em;
}

.projects{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 3em;
}

.project{
    background-color: #D75B52;
    width: 100%;
    height: 300px;
    border-radius: 1em;
    text-decoration: none;
    transition: 1s;
    position: relative;
}

.project img{
    width: 100%;
    margin: auto 0;
    display: block;
    height: 100%;
    object-fit: contain;
    transition: 1s;
}

.project h3{
    opacity: 0;
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: white;
    transition: 1s;
    opacity: 0;
}

.project:hover img{
    opacity: 0;
}

.project:hover h3{
    opacity: 1;
}

/* _______________________ contact _______________________________ */

.contact-container p{
    text-align: center;
}

.contact-container form{
    margin: 2em;
}

.contact-container form label{
    display: block;
    margin-bottom: 0.5em;
}
.contact-container form input{
    display: block;
    margin-bottom: 1em;
    width: 100%;
    height: 2.5em;
    background-color: var(--extra-light-pink);
    border-radius: 10px;
    border: 1px solid #ca60463d;
    outline: none;
    padding: 0 0.5em;
}

.contact-container form textarea{
    display: block;
    margin-bottom: 2em;
    width: 100%;
    background-color: var(--extra-light-pink);
    border-radius: 10px;
    border: 1px solid #ca60463d;
    outline: none;
    padding: 0.5em;
}

.contact-form{
    margin-top: 4em;
    background-color: var(--white);
    border-radius: 20px;
    box-shadow: 5px 5px 14px 0px rgba(168, 168, 168, 0.18);
    padding: 0.5em;
}

.contact-info{
    background-color: var(--soft-orange-red);
    padding: 2em;
    border-radius: 20px;
    color: var(--white);
}

.contact-info i{
    color: var(--purple);
    margin-right: 1em;
}

.contact-info ul li{
    list-style: none;
    margin-bottom: 1em;
    color: var(--white);
}

.contact-info h3{
    color: var(--white);
}
.contact-info p{
    margin-bottom: 3em;
    color: var(--white);
}
.contact-info a{
    color: var(--white);
}

.contact-form button{
    margin-left: auto;
    display: block;
}


/* _________________________ media queries ________________________ */


@media screen and (min-width: 650px) {
    /* _________________________header___________________________ */

    header{
        display: flex;
        justify-content: space-between;
    }

    header .flex{
        width: max-content;
    }

    header .fa-bars{
        display: none;
    }

    body header .navigation{
        display: flex;
        margin: 0;
        gap: 1.5em;
        width: max-content;
        align-items: center;
    }

    nav ul{
        display: flex;
        gap: 1em;
    }

    nav .icons{
        position: relative;
        font-size: 26px;
        margin: 0;
    }

    nav ul li{
        margin: 0;
    }

    /* _________________________ contact __________________________ */

    .contact-container form .flex{
        display: flex;
        gap: 2em;
    }

    .contact-container form .flex div{
        width: 100%;
    }


}


@media screen and (min-width: 800px) {

    /* ______________________self introduction_______________________ */

    .introduction{
        text-align: left;
    }

    .job-position{
        text-align: left;
        display: flex;
        gap: 1em;
        margin-left: 0;
    }

    .job-position hr{
        width: 1em;
    }


    .personal-info{
        max-width: 75%;
    }

    .img-coding{
        float: right;
        margin-top: 1em;
        margin-left: 2em;
        width: 20em;
        height: 20em;
    }

    /* contact */
    .contact-form{
        display: flex;
        gap: 2em;
    }

    .contact-info{
        width: 40%;
    }

    .contact-info p, .contact-container h3{
        text-align: left;
    }

    form{
        width: 100%;
    }
}
